---
const { title, description, role, stack, link } = Astro.props;
---

<div>
  <h2>
    {title}
  </h2>
  {description}
  <br>
  <br>
  担当箇所:{role} <br>
  技術スタック:{stack}
  <br>
  <a href={link} target="_blank">リポジトリ</a>
</div>

<style>
  div {
    background-color: transparent;
    border: thin solid;
    border-color: #e3e3e3;
    border-top: none;
    border-left: none;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
  }
  a {
    color: #e3e3e3;
    text-decoration: none;
  }
</style>
