---
import SkillBox from "./SkillBox.astro";

import htmlIcon from "/src/images/HTML.svg?raw";
import cssIcon from "/src/images/CSS.svg?raw";
import jsIcon from "/src/images/js.svg?raw";
import tsIcon from "/src/images/ts.svg?raw";
import reactIcon from "/src/images/react.svg?raw";
import nextjsIcon from "/src/images/nextjs.svg?raw";
import astroIcon from "/src/images/astro.svg?raw";
import nodejsIcon from "/src/images/nodejs.svg?raw";
import pythonIcon from "/src/images/python.svg?raw";
import goIcon from "/src/images/Go.svg?raw";
import cIcon from "/src/images/clang.svg?raw";
import javaIcon from "/src/images/java.svg?raw";
import dartIcon from "/src/images/dart.svg?raw";
import flutterIcon from "/src/images/flutter.svg?raw";
import githubIcon from "/src/images/github.svg?raw";
---

<div class="container">
  <h1 class="title">Skills</h1>
  <div class="description">
    <section>
      <SkillBox text="HTML" svgRaw={htmlIcon} />
      <SkillBox text="CSS" svgRaw={cssIcon} />
      <SkillBox text="JavaScript" svgRaw={jsIcon} />
      <SkillBox text="TypeScript" svgRaw={tsIcon} />
      <SkillBox text="React" svgRaw={reactIcon} />
      <SkillBox text="Next.js" svgRaw={nextjsIcon} />
      <SkillBox text="Astro" svgRaw={astroIcon} />
      <SkillBox text="Node.js" svgRaw={nodejsIcon} />
      <SkillBox text="Python" svgRaw={pythonIcon} />
      <SkillBox text="Go" svgRaw={goIcon} />
      <SkillBox text="C" svgRaw={cIcon} />
      <SkillBox text="Java" svgRaw={javaIcon} />
      <SkillBox text="Dart" svgRaw={dartIcon} />
      <SkillBox text="Flutter" svgRaw={flutterIcon} />
      <SkillBox text="Github" svgRaw={githubIcon} />
    </section>
  </div>
</div>

<style>
  section {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 1.5rem;
    color: #e3e3e3;
  }
  img {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0.5rem;
  }
</style>