---
const {title, description, role, stack, link} = Astro.props;
---
<div>
  {title} <br>
  {description} <br>
  {role}
  {stack}
  <a href={link} target="_blank">リンク</a>
</div>

<style>
  div {
    background-color: transparent;
    border: thin solid;
    border-color: #e3e3e3;
    border-top: none;
    border-left: none;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1rem;
  }
</style>